@media(max-width: 768px){
    .highlight{
        font-size: 14px;
        padding:10px;
    }
      .form-card {
        padding: 20px
    }

    .features {
        gap: 10px
    }

}


@media (max-width:991px) {
     .row-hero {
        flex-direction: column;
        background: linear-gradient(0deg, #151B3A00 0%, #131937E5 100%);
    }

    .right {
        width: 100%;
        flex: 1
    }

    .form-card {
        margin: 0 auto;
        width: 100%;
        max-width: 520px
    }

    .left {
        padding:120px 0px 20px 20px;
    }

    h1.big {
        font-size: 35px
    }
    .feature{
        gap: 0px;
    }
    .features{
        width: 100%;
    }
    .right{
        padding: 50px 30px;
    }
    .submit-wrap{
        transform: translateX(-12%);
    }
    .submit-btn{
        bottom: 30px;
    }
    .form-check-label{
        width: 100%;
    }
    .logos{
        gap: 7px;
    }
    .mobile-form-btn {
        display: inline-block;
        position: fixed;
        right: 18px;
        bottom: 18px;
        z-index: 1050;
        border-radius: 50px;
        padding: 14px 18px;
        background: #0c3553;
        color: #fff;
        border: none;
        box-shadow: 0 10px 30px rgba(9, 20, 40, 0.45)
    }
}